<div class="flex-row navigation-menu" style="border-bottom: 1px inset #efefef;">
    <div>
        <div class="navigation-menu-item" (click)="changeRoute('/')">Home</div>
    </div>
    <div>
        <div class="navigation-menu-item" (click)="changeRoute('/pivots')">Pivots</div>
    </div>
    <div style="flex:1">
        <div class="navigation-menu-item" (click)="changeRoute('/settings')">Settings</div>
    </div>
    <div class="flex-row">
        <div class="navigation-menu-item" (click)="changeRoute('/about')">About</div>
    </div>
</div>
