<!-- <div class="page-container">
    <div *ngIf="viewType === 'table'">
        <div class="pivot-container" *ngFor="let pivotName of pivotNames">
            <div class="pivot-name">{{pivotName}} Pivot Levels</div>
            <div class="flex-row pivot-table" *ngFor="let instrument of instruments; let i = index">
                <app-pivot-table [instrument]="instrument"
                    [pivotSettings]="getPivotSettings(instrument.symbol, pivotName)" [pivotName]="pivotName">
                </app-pivot-table>
            </div>
        </div>
    </div>
</div> -->
<div (click)="pivotView = 'TypeScript'">click</div>
<div style="color:#ffffff">
    <div [ngSwitch]="pivotView">
        <ng-template [ngSwitchCase]="'table'">
            <div class="pivot-container" *ngFor="let pivotName of pivotNames">
                <div class="pivot-name">{{pivotName}} Pivot Levels</div>
                <div class="flex-row pivot-table" *ngFor="let instrument of instruments; let i = index">
                    <app-pivot-table [instrument]="instrument" [pivotSettings]="getPivotSettings(instrument.symbol, pivotName)"
                        [pivotName]="pivotName">
                    </app-pivot-table>
                </div>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'TypeScript'">
            <p>view 2</p>
        </ng-template>
        <ng-template [ngSwitchCase]="'JavaScript'">
            <p>view 3</p>
        </ng-template>
        <ng-template [ngSwitchDefault]>
            <p>view 4</p>
        </ng-template>
    </div>
</div>