.pivot-view-change-link {
    padding:4px 4px;
    text-decoration: none;
    opacity: .7;
    font-variant: small-caps;
    color: #ffffff;
}

.pivot-view-change-link:hover {
    text-decoration: underline;
}