.bid-ask-container > div:nth-child(1) {
    color: #fff;
    font-size: 12px;
    letter-spacing: .1em;
}

.bid-ask-container > div:nth-child(2) {
    font-size:10px;
    /* color:#000000; */
    color: #fff;
    letter-spacing: .1em;
    opacity: .6;
}

.bid-ask-container > div:nth-child(3) {
    font-size:10px;
    /* color:#000000; */
    color: #fff;
    letter-spacing: .1em;
    opacity: .6;
}